body {
  font-family: "Oleo Script", cursive; color: azure;
}
h1 {
  
  font-size: 40px;
  
}
h2, h3 {
    font-size: 19.75px;
}
h5 {
  text-decoration: underline;
}

p {
  line-height: 0.5;
  margin-bottom: 1rem;
}


  .card {
  background: linear-gradient(109.5deg, rgb(9, 17, 87) 9.4%, rgb(86, 255, 248) 78.4%);
}

.card-body {
  margin: 0%;
}

.first {
  position: relative;
}
.form-inline {
  padding: 20px;
}
.card-img-top {
  width: 70%;
  border-top-left-radius: calc(-0.75rem - 1px);
  border-top-right-radius: calc(16.25rem - 1px);
}
.city {
  border: 6px solid black;
  border-radius: 2px;
  text-align: center;
}

.cloudy {
  color: darkgray;
  /* border: solid; */
  font-size: 52px;
}

.sunny {
  color: rgb(241, 220, 23);
}
.rainy {
  color: rgb(43, 96, 241);
}

.btn-primary {
  color: #fff;
  background-color: #0a807aa3;
  border-color: black;
  border-width: medium;
}
.one {
    /* width: 100%; */
    font-size: 72px;
    /* border: 6px solid black; */
    /* border-radius: 33px; */
    text-align: center;
    color: rgb(0 0 0 / 90%);
    /* background-color: rgb(0 0 0 / 8%); */
    /* border-color: black; */
    /* border-width: medium; */
}
#f,
#c,
#unit {
  font-size: 20px;
}